name: Train Data Update Scheduler

on:
  schedule:
    - cron: '*/5 * * * *'
  workflow_dispatch:

jobs:
  update_data:
    runs-on: ubuntu-latest
    
    permissions:
      contents: write
    
    steps:
      - name: ⬇️ Checkout code
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
          
      - name:  Install dependencies
        run: pip install requests
        
      - name:  Fetch Toyoko Line data
        run: python fetch_data.py toyoko.json
        
      - name:  Fetch Meguro Line data
        run: python fetch_data.py meguro.json
        
      - name:  Fetch Shinyokohama Line data
        run: python fetch_data.py shinyokohama.json
        
      - name:  Fetch Denentoshi Line data
        run: python fetch_data.py dento.json
        
      - name:  Fetch Oimachi Line data
        run: python fetch_data.py oimachi.json

      - name:  Commit and Push new data
        run: |
          if git status --porcelain public/ | grep -q .; then
            git config --global user.name 'github-actions[bot]'
            git config --global user.email '41898282+github-actions[bot]@users.noreply.github.com'
            git add public/*.json
            git commit -m "chore(data): Forced update of train status data"
            git push
          else
            echo "データ内容に変化はありませんでしたが、タイムスタンプ更新が失敗した可能性があります。"
          fi
